@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Lobster&family=Oleo+Script+Swash+Caps:wght@700&family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&family=Lobster&family=Oleo+Script+Swash+Caps:wght@700&family=Poppins:ital@1&family=Tiro+Kannada:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color:#F2F5FF;
    font-family: 'Josefin Sans';
}

a {
    text-decoration: none;
}
header {

    height: 150px;
    background: rgba(71,139,223,1);
background: -moz-linear-gradient(top, rgba(71,139,223,1) 0%, rgba(216,225,231,1) 46%, rgba(242,245,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(71,139,223,1)), color-stop(46%, rgba(216,225,231,1)), color-stop(100%, rgba(242,245,255,1)));
background: -webkit-linear-gradient(top, rgba(71,139,223,1) 0%, rgba(216,225,231,1) 46%, rgba(242,245,255,1) 100%);
background: -o-linear-gradient(top, rgba(71,139,223,1) 0%, rgba(216,225,231,1) 46%, rgba(242,245,255,1) 100%);
background: -ms-linear-gradient(top, rgba(71,139,223,1) 0%, rgba(216,225,231,1) 46%, rgba(242,245,255,1) 100%);
background: linear-gradient(to bottom, rgba(71,139,223,1) 0%, rgba(216,225,231,1) 46%, rgba(242,245,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#478bdf', endColorstr='#f2f5ff', GradientType=0 );




    display: flex;
    justify-content:space-between;
    align-items: center;
}

.container {
    display: flex;   
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 4px;
}

.logo__navbar {
    
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    position:relative;
    left: 80px;
    height: 40px;
    width: 40px;

}

.logo__text {
    font-size: 2rem;
    color: #131415
    
}
.logo__context {
    border: 2px solid #131415;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    width: 100%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}


.section__one {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 300px;
    width: 80%;
    background-color:  #F2F5FF;
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 80px;
    gap: 80px;
}
.section__two {
    display: flex;
    justify-content:center;
    align-items: center; 
    width: 80%;
    background-color: #F2F5FF;
    padding-left: 80px;
    padding-right: 80px;
}
.section__three {
    display: flex;
    justify-content:center;
    align-items: center; 
    flex-direction: column;
    width: 80%;
    background-color:  #F2F5FF;
    padding-top: 70px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 30px;
}
.section__four {
    display: flex;
    justify-content:center;
    align-items: center; 
    flex-direction: column;
    width: 80%;
    background-color: #F2F5FF;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.section__five {
    display: flex;
    justify-content:center;
    align-items: center; 
    flex-direction: column;
    width: 80%;
    background-color:  #F2F5FF;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 80px;
    padding-bottom: 40px;
}


.img__company {
    height: 310px;
    width: 310px;
}

.info__box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.info__box h1 {
    font-size: 3rem;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}
.info__box p {
    font-family: 'Josefin Sans', sans-serif;
    max-width: 800px;
    font-size: 1.4rem;
    padding-bottom: 20px;

}

.btn__company1 {
    border: 1.5px solid rgb(0, 0, 0);
    color: white;
    background-color: gray;
    border-radius: 20px;
    padding: 10px;
    margin-right: 20px;
    
}
.btn__company1:hover { 
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 20px;
    color: grey;
    background-color:#F2F5FF;
}


.btn__company2 {
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 20px;
    color: grey;
    padding: 10px;
    margin-right: 20px;
}

.btn__company2:hover {
    border: 1.5px solid rgb(0, 0, 0);
    color: white;
    background-color: gray;
 }

.section__two  {
    padding-top: 80px;
    padding-bottom: 10px;
}
.section__two p {
    font-family: 'Josefin Sans';
    font-size: 1.4rem;
    color: darkgray;
    max-width: 800px;
}
.section__three .section__four h5 h1 {
    padding-top: 4px;
    color: darkgrey;
    font-size: 1rem;
}
.titulo4 {
   font-size: 3rem; 
}
.section__three h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.1rem;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu__navbar {
    padding: 50px;
    width: 100%;
}

.btn__hambur {
    display: none;
}
.btn_container {
    display: none;
}

.container__items {
    padding:10px;
    padding-right: 160px;
}

.list__navbar {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    list-style: none;

}
.container__items {
    display: flex;


}
.item__navbar {
    padding-left: 40px;
}

 
.item__navbar a {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: rgb(42, 42, 42);
    font-size: 18px;
   
    
}

.item__navbar a:hover {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    color: rgb(252, 252, 252);
    font-size: 18px;
   
}

.adv__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-top: 30px;
}
.img__cont {
    width: 260px;
    height: 260px;
    text-align: center;
    padding-top: 60px;
   
   
}
.img__cont:hover {
    background: rgba( 201, 168, 141, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7.5px );
    -webkit-backdrop-filter: blur( 7.5px );
    border-radius: 10px;
    
}
.img__cont p {
    font-family: 'Josefin Sans', sans-serif;
}

.adv__img {
    height: 60%;
    width: 60%;
 
}
.signos {
    height: 200px;
}
.pasos {
    padding-top: 60px;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;

}
.clientes {
    padding-top: 60px;
    display: flex;
    gap: 80px;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;

}

.img__cont5 {
    width: 330px;
    height: 330px;
    text-align: center;
    padding-top: 60px;
   
   
}
.titulo5 {
    font-size: 3rem;
}
.steep__work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    padding: 50px;
    background: rgba( 201, 168, 141, 0 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 10px;
}


.steep__work p {
    font-family: 'Josefin Sans';
    padding-top: 20px;
    text-align: center;
    max-height: 100px;
    
}



footer {
    height: 300px;
    width: 100%;
    background: rgba(242,245,255,1);
    background: -moz-linear-gradient(top, rgba(242,245,255,1) 0%, rgba(131,201,247,1) 39%, rgba(71,139,223,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(242,245,255,1)), color-stop(39%, rgba(131,201,247,1)), color-stop(100%, rgba(71,139,223,1)));
    background: -webkit-linear-gradient(top, rgba(242,245,255,1) 0%, rgba(131,201,247,1) 39%, rgba(71,139,223,1) 100%);
    background: -o-linear-gradient(top, rgba(242,245,255,1) 0%, rgba(131,201,247,1) 39%, rgba(71,139,223,1) 100%);
    background: -ms-linear-gradient(top, rgba(242,245,255,1) 0%, rgba(131,201,247,1) 39%, rgba(71,139,223,1) 100%);
    background: linear-gradient(to bottom, rgba(242,245,255,1) 0%, rgba(131,201,247,1) 39%, rgba(71,139,223,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5ff', endColorstr='#478bdf', GradientType=0 );

}
.linea {
    width: 60%;
    height: 1px;
    background-color: rgb(120, 113, 186);
    margin: 0 auto;
}
.img__footer_cont {
    height: 55px;
    width: 120px;
}
.footer__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:  70px auto 70px auto;
}
.img__footer {
    width: 60%;
    height: 60%;
    margin-bottom: 20px;
}
.text__footer {
    font-family: 'Josefin Sans';
    font-weight: bold;
}
.text__footer p {
    margin-top: 10px;
}
.text2__footer  {
   padding-top: 100px;
}
.lista__footer{
    display: flex;
    flex-direction: row;
    gap: 100px;
  
    font-family: 'Josefin Sans';
}

.adv__box :nth-child(1)  {
    animation: flotante 2s ease-in-out infinite 1s;
    animation-direction: alternate;
    
}
.adv__box :nth-child(2)  {
    animation: flotante 2s ease-in-out infinite .5s;
    animation-direction: alternate;
    
}
.adv__box :nth-child(3)  {
    animation: flotante 2s ease-in-out infinite 1.5s;
    animation-direction: alternate;
    
}


@keyframes flotante {
    from {
        transform: translateY(0);    
    } 
    to {
        transform: translateY(50px);  
    }

}



@media screen and (max-width:1260px) {

    .section__one {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;   
        background-color: azure;   
    }

    .img__company {
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .info__box h1 { 
        padding-top:10px ;
        margin: 0 auto;

    }
    .info__box p { 
        font-size: 1rem;
    }
    .adv__box {
        flex-direction: column;
    }
    .pasos {
        flex-direction: column;
    }


}
@media screen and (max-width:660px) {
    .btn__box {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    .btn__hambur {
        display:inline-block;
    }
    .btn_container {
        display: inline-block;
    }
    .container__items {
        display: none;
    }
    .btn__company1 {
        text-align: center;
    }
    .btn__company2 {
        text-align: center;
    }
    .adv__box {
        flex-direction: column;
    }
    .pasos {
        flex-direction: column;
    }
    .clientes { flex-direction: column;
    gap: 10px;}
    .lista__footer{ flex-direction: column;
    gap:6px
    }
    .text2__footer  {
        padding-top: 40px; }


}
@media screen and (max-width:420px) {
    .img__company {
        height: 100%;
        width: 100%;
    }
    .section__two p {
        font-family: 'Josefin Sans', sans-serif; 
        padding-left: 1px;
        padding-right: 1px;
    
    }
    .section__two {
        display: flex;
      
        width: 60%;
        background-color: azure;
        padding-left: 8px;
        padding-right: 8px;
    }
    .btn__company1 {
        text-align: center;
    }
    .btn__company2 {
        text-align: center;
    }
    .adv__box {
        flex-direction: column;
    }
    .pasos {
        flex-direction: column;
    }
    .clientes { flex-direction: column;
    gap:10px}
    .lista__footer{ flex-direction: column;
        gap:6px

        }
        .text2__footer  {
            padding-top: 40px; }
}
